### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [4]:
#Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data_df = pd.DataFrame(purchase_data)
purchase_data_df.head()

   Purchase ID             SN  ...                                  Item Name Price
0            0        Lisim78  ...  Extraction, Quickblade Of Trembling Hands  3.53
1            1    Lisovynya38  ...                          Frenzied Scimitar  1.56
2            2     Ithergue48  ...                               Final Critic  4.88
3            3  Chamassasya86  ...                                Blindscythe  3.27
4            4      Iskosia90  ...                                       Fury  1.44

[5 rows x 7 columns]

## Player Count

* Display the total number of players

In [20]:
#Number Of Players 
player= len(purchase_data["SN"].value_counts())
#Data Summary 
player_count = pd.DataFrame([player], columns = ["Total Players"])
player_count

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [24]:
#Number of Unique Items
UniqueItems = len(purchase_data["Item Name"].unique())

#Averge of Price 
Avgprice = purchase_data["Price"].mean()

NumPur = len(purchase_data["Item Name"])

#Total Revenue
Rev = purchase_data["Price"].sum()

#Create new DataFrame
Purchasing_Analysis_Total = pd.DataFrame({"Unique Items": [UniqueItems],
                                           "Average Price": [Avgprice],
                                           "Number of Purchases": [NumPur],
                                           "Total Revenue": [Rev]})

#DataFrame Formatting
Purchasing_Analysis_Total["Average Price"] = Purchasing_Analysis_Total["Average Price"].map("${:,.2f}".format)
Purchasing_Analysis_Total["Total Revenue"] = Purchasing_Analysis_Total["Total Revenue"].map("${:,.2f}".format)
Purchasing_Analysis_Total = Purchasing_Analysis_Total[["Unique Items", "Average Price", "Number of Purchases", "Total Revenue"]]

Purchasing_Analysis_Total

   Unique Items Average Price  Number of Purchases Total Revenue
0           179         $3.05                  780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
#DataFrame Counts by Gender
gender_demo = pd.DataFrame(purchase_data.groupby('Gender').SN.nunique())

#rename 'SN' column to 'User Count'
gender_demo = gender_demo.rename(index=str, columns={'SN': 'Player Count'})

#add % to totals in a new columns
gender_demo['Percentage of Players'] = gender_demo['Player Count'] / sum(gender_demo['Player Count'])*100

#format new column with %
gender_demo = gender_demo.style.format({'Percentage of Players': '{:.2f}%'})
gender_demo

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
#DataFrame to Store Purchase stats by gender using the 'Purchase ID' and 'Price' columns
gender_stats = pd.DataFrame(purchase_data.groupby('Gender').agg({'Purchase ID':'count', 'Price': {'Total Purchase Value':'sum', 'Average Purchase Price':'mean'}}))

#Collapse the Multiple Indexes 
gender_stats.columns = gender_stats.columns.get_level_values(1) 

#Rename the Columns 
gender_stats = gender_stats.rename(index=str, columns={'count': 'Purchase Count'})

#Average purchase value
gender_stats['Normalized Totals'] = gender_stats['Total Purchase Value']/gender_stats['Purchase Count']

#Arrange columns 
gender_stats = gender_stats[['Purchase Count', 'Average Purchase Price', 'Total Purchase Value', 'Normalized Totals']]

#Format the 'Total Purchase Value', 'Average Purchase Price', and 'Normalized Totals' columns to display as currency
gender_stats = gender_stats.style.format({'Total Purchase Value': '${:.2f}', 'Average Purchase Price': '${:.2f}', 'Normalized Totals':'${:.2f}'})
gender_stats

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [25]:
# Establish Bins for Ages
age_bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

#Categorize the Players by Age bin
purchase_data['Age'] = pd.cut(purchase_data['Age'], age_bins, labels=group_names)

#DataFrame to Group 
age_demo = pd.DataFrame(purchase_data.groupby('Age').SN.nunique())

#Rename 'SN' Column to 'User Count'
age_demo = age_demo.rename(index=str, columns={'SN': 'Player Count'})

#Percentage Total to new column 
age_demo['Percentage of Players'] = age_demo['Player Count'] / sum(age_demo['Player Count'])*100

#Format New Column with Percentage 
age_demo = age_demo.style.format({'Percentage of Players': '{:.2f}%'})
age_demo

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [7]:
#DataFrame to Store Purchase stats by age using the 'Purchase ID' and 'Price' columns
age_stats = pd.DataFrame(purchase_data.groupby('Age').agg({'Purchase ID':'count', 'Price': {'Total Purchase Value':'sum', 'Average Purchase Price':'mean'}}))

#Collapse the Multiple Indexes 
age_stats.columns = age_stats.columns.get_level_values(1) 

#Rename the Columns 
age_stats = age_stats.rename(index=str, columns={'count': 'Purchase Count'})

#Column Average Purchase Value
age_stats['Normalized Totals'] = age_stats['Total Purchase Value']/age_stats['Purchase Count']

#Arrange Columns 
age_stats = age_stats[['Purchase Count', 'Average Purchase Price', 'Total Purchase Value', 'Normalized Totals']]

#Format the 'Total Purchase Value', 'Average Purchase Price', and 'Normalized Totals' Columns to Display as Currency
age_stats = age_stats.style.format({'Total Purchase Value': '${:.2f}', 'Average Purchase Price': '${:.2f}', 'Normalized Totals':'${:.2f}'})
age_stats

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Ranges,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [8]:
#Identify Top 5 Spenders by purchases by 'SN'
spend_summ = pd.DataFrame(purchase_data.groupby('SN').agg({'Purchase ID':'count', 'Price': {'Total Purchase Value':'sum', 'Average Purchase Price':'mean'}}))

#Collapse the Multiple Indexes
spend_summ.columns = spend_summ.columns.get_level_values(1) 

#Rename the Columns
spend_summ = spend_summ.rename(index=str, columns={'count': 'Purchase Count'})

#Sort the 'Total Purchase Value' 
spend_summ = spend_summ.sort_values(by='Total Purchase Value', ascending=False)

#Slice the DataFrame sp Only the Top 5 Rows Populate
spend_summ = spend_summ[0:5]

#Convert Formatting to Currency
spend_summ = spend_summ.style.format({'Total Purchase Value': '${:.2f}', 'Average Purchase Price': '${:.2f}'})
spend_summ

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [26]:
#Most Popular Items by Number of Purchases By Purchase data according to Item ID and Name
item_data = purchase_data[['Item ID', 'Item Name', 'Price']]

#Data by Item Number and Name 
top_purchases = pd.DataFrame(item_data.groupby(['Item ID', 'Item Name']).agg({'Price':['count', 'sum']}))

#Colapse the Column Headers
top_purchases.columns = top_purchases.columns.get_level_values(1)

#New Column that Lists the Original Price
top_purchases['Item Price'] = top_purchases['sum']/top_purchases['count']

#Sort Columns
top_purchases = top_purchases[['count', 'Item Price', 'sum']]

#Rename Columns to Reflect the Data they are Conveying
top_purchases = top_purchases.rename(index=str, columns={'count': 'Purchase Count', 'sum': 'Total Purchase Value'})

# DataFrame according to 'Purchase Count' to ID Most Popular
top_purchases = top_purchases.sort_values(by='Purchase Count', ascending=False)

#Top 5 Items
top_5_purchases = top_purchases[0:5]

#Formatting to currency
top_5_purchases = top_5_purchases.style.format({'Total Purchase Value': '${:.2f}', 'Item Price': '${:.2f}'})

top_5_purchases

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [10]:
#Pervious Top purchases data to ID Top Volume Items
top_purchases = top_purchases.sort_values(by='Total Purchase Value', ascending=False)

#Top 5 Items
top_5_volume = top_purchases[0:5]

#Formatting to currency
top_5_volume = top_5_volume.style.format({'Total Purchase Value': '${:.2f}', 'Item Price': '${:.2f}'})

top_5_volume

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80